.cabeçalho_menu-hambuguer {
    width: 24px ;
    height: 24px ;
    display: inline-block;
    background-image: url(menu.svg) ;
    background-repeat:no-repeat ;
    background-position: center;
}
.cabeçalho {
  background-color: var(---branco);
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.continer {
    display: flex;
    align-items: center;
}
.continer_imagem {
    padding: 1em;
    
}